.clock {
    font-size: 3rem;
    text-align: center;
}

.date {
    text-align: center;
    font-size: 1rem;
}

.footer {
    font-size: 1rem;
}

.dayTime {
    color: grey;
}
.nightTime {
    background: gray;
    color: white;
}
